fastapi[standard]
uvicorn
groq 
agno
pymongo
python-dotenv
pillow
huggingface_hub
langfuse 
opentelemetry-sdk 
opentelemetry-exporter-otlp 
openinference-instrumentation-agno
google-generativeai
google-genai
openai
psycopg-binary
psycopg